node_modules/*
logs/*
install/multibrowse-source/*
sound/sounds/*
sound/recordings/*

dist/
static/fonts/*
static/images/*/*.jpg
static/images/*/*.jpeg
static/images/*/*.JPG
static/images/*/*.JPEG
static/images/*/*.png

*.DS_Store
*.swp
*.cache
.vscode/*