*.DS_Store
node_modules/*
logs/*
automate/multibrowse-source/*
sound/sounds/*
sound/recordings/*

dist/
static/fonts/*
static/images/*/*.jpg
static/images/*/*.jpeg
static/images/*/*.JPG
static/images/*/*.JPEG
static/images/*/*.png
*.swp
*.cache
