node_modules/*
logs/*
install/multibrowse-source/*
*.pem

dist/
static/fonts/*
images/*
images/popups/*
images/*/*/*.jpg
images/*/*/*.jpeg
images/*/*/*.JPG
images/*/*/*.JPEG
images/*/*/*.png
images/*/*/*.PNG
images/videos/*
sound/sounds/*
sound/sounds-longer/*
sound/sounds-orig/*
sound/sounds-reflection/*
sound/recordings/*

*.DS_Store
*.swp
*.cache
.vscode/*
.env
