@import './shared.scss';

body {
  overflow: hidden;
}

.intro-text-container {
    visibility: hidden;
    border: 4px solid black;
    width: 80vw;
    display: block;
    margin: 0;
    height: calc(100vh - 20vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    // overflow: hidden;
}

.text
{
   height: 100%;
   font-size: 4.5em;
   overflow: auto;
   font-weight: 700;
   font-style: italic;
   padding: 1em;
//    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1.7vw;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-left: 4px solid black;
    width: 1.7vw;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    height: 17vh;
  }


  .backgrounds div {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.backgrounds-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}