@import './shared.scss';

.main {
    border: 1px solid green;
}

.intro-text-container {
    border: 1px solid black;
    width: 70vw;
    display: block;
    margin: 0;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.text
{
   height: 100%;
   font-size: 3.8em;
   overflow: auto;
   font-weight: 700;
   font-style: italic;
   padding: 1em;
}

::-webkit-scrollbar {
    width: 22px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // background: #f1f1f1; 
    border-left: 1px solid black;
    width: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    height: 180px;
  }
  