@import './shared.scss';

#face-stream {
  object-fit: cover;
  width: 1620px;
  height: 2160px;
}

.main {
  position: relative;
}

#video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: coral;
}



.text-container {
  border: 1px solid white;
  width: 85vw;
  display: block;
  margin: 0;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  overflow: hidden;
}

.textbox
{
 height: 100%;
 width: 100%;
 font-size: 2em;
 overflow: auto;
 font-weight: 700;
 font-style: italic;
 padding: 1em;
 color: white;
 overflow: hidden;
 display: block
}


#spellbox {

}

