@import './shared.scss';

#face-stream {
  object-fit: cover;
  width: 1620px;
  height: 2160px;
}

.main {
  position: relative;
}

#video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: coral;
}



.text-container {
  border: 5px solid white;
  width: 85vw;
  display: block;
  margin: 0;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.textbox
{
  height: 100%;
  width: 100%;
  overflow: auto;
  font-weight: 700;
  font-style: italic;
  color: white;
  overflow: hidden;
  display: flex;
  text-align: left;
  padding: 50px;
  align-items: center;
}

.textbox-dummy {
  position: absolute;
  text-align: left;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-weight: 700;
  font-style: italic;
  color: pink;
  overflow: hidden;
  padding: 50px;
  opacity: 0;
}

#spellbox {
  display: block;
}




#mdiv {
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 65px;
  margin-top: 35px;
  position: absolute;
  display: block;
  right: 0px;
}

.mdiv {
  height: 100px;
  width: 5px;
  background-color: white;
  transform: rotate(45deg);
  Z-index: 3;
}

.md {
  height: 100px;
  width: 5px;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 2;
}
