@import './shared.scss';

body {
  overflow: hidden;
}

#face-stream {
  object-fit: cover;
  width: 1620px;
  height: 2160px;
}

.main {
  position: relative;
}

#video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: coral;
}

#face-stream {
  visibility: hidden;
}

.filtered {
  background: -webkit-radial-gradient(#e66465, #9198e5);
}

.filtered video {
  mix-blend-mode: screen;
 -webkit-filter: grayscale(100%) contrast(170%);
 filter: grayscale(100%) contrast(170%);
 opacity: 1;
}


.text-container {
  border: 0.75vw solid white;
  width: 85vw;
  display: block;
  margin: 0;
  height: calc(100vh - 15vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


.radial-gradient {
  visibility: visible;
  position: absolute;
  z-index: 122;
  width: 300px;
  height: 300px;
  // background:radial-gradient(#e66465, #9198e5);
  border: 5px solid honeydew;
}

.textbox
{
  height: 100%;
  width: 100%;
  overflow: auto;
  font-weight: 700;
  font-style: italic;
  color: white;
  overflow: hidden;
  display: flex;
  text-align: left;
  padding: 6.5vw;
  align-items: center;
}

.textbox-dummy {
  position: absolute;
  text-align: left;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-weight: 700;
  font-style: italic;
  color: pink;
  overflow: hidden;
  padding: 6.5vw;
  opacity: 0;
}

#spellbox {
  display: block;
}

#mdiv {
  position: absolute;
  display: block;
  right: 7.5vw;
  top: 4.5vw;
}

.mdiv {
  height: 6vw;
  width: .7vw;
  background-color: white;
  transform: rotate(45deg);
  Z-index: 3;
}

.md {
  height: 6vw;
  width: .7vw;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 2;
}



#loading {
  backdrop-filter: blur(2vw) !important;
}