@import './shared.scss';

body {
  background-color: black;
}

section.main {
  position: absolute;
  overflow: hidden;
}
.screen-0 .main, #wrapper.screen-0  {
  right: 0px;
  left: unset !important;
}

.screen-1 .main, 
.screen-2 .main {
  left: 0px;
}

.fs {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.fullscreen_container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


#background_container {

  overflow: hidden;

}


#background-0,
#background-1, 
#background-2 {
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .screen-2 &, .screen-0 & {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.screen-0 #loading {
  right: 0;
  left: unset;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#meditation_container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  margin: 0.8em;
  font-size: 8em;
  font-weight: 500;
  color: white;
  font-style: italic;
  text-align: center;

}

.smaller_meditation_text {
  font-size: .5em;
}



#meditation_text {
  padding: 50px;
  // .screen-0 &, .screen-2 & {
  //   display: none !important;
  // }
}

#memory_container {
  z-index: 200;
}

.memory {
  position: absolute;
  max-width: 500px;
  border: 6px solid black;
  display: flex;
  align-items: center;

  &.text {
    padding: 20px;
    background-color: white;
    font-size: 1.75em;
  }

  &.image {
    padding: 0px;
  }
}
