@import './shared.scss';

section.main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.fs {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.fullscreen_container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#background_container {

  .purple-overlay {
    background: url(https://i.imgur.com/RzIdG40.png); /* TODO CHANGE */
    background-color: rgba(255, 0, 150, 0.3);
    background-blend-mode: multiply;
  }
}

#meditation_container {
  /* TODO: font */
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  margin: 30px;
  font-size: 4em;
  font-weight: bold;
  color: white;
}

#memory_container {
  background-color: purple;
  opacity: 0.4;
  z-index: 200;
  display: none;
}

.memory {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30px;
  left: 30px;
  border: 6px solid #010e77;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 2em;
  word-break: break-all;
}
