@import './shared.scss';

body {
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}

#hand-indicator {
  display: none;
  position: fixed;

  width: 10vw;
  transform: rotateZ(-30deg);
}

.scroll {
	width: 33.3%;
	padding: 2vw;
	height: 100vh;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	.scroll_text {
		width: 1px;
		margin-top: 40px;
		line-height: 1.3em;
	}
}

.wrapper {
	position: fixed;
	width: 4200px; /* HARVEY: CHANGE THIS FOR BEZELS */
}

#wrapper_joined {
	font-size: 13.2vw;
	line-height: 1.2em;
	display: flex;
	overflow-y: scroll;
	overflow-x: hidden;
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 1.8vw;
		border-left: 1px solid black;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
	.scroll {
		width: 100%;
	}
	.emotion {
		text-transform: capitalize;
		transition-property: all;
    	transition-duration: 2s;
	}
	.selected_emotion_color {
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.selected_emotion {
		-moz-transition: all .8s ease-in;
		-o-transition: all .8s ease-in;
		-webkit-transition: all .8s ease-in;
		transition: all .8s ease-in;
		color: #fff !important; 
	}
	.blackText {
		color: #000;
	}
}

#wrapper_separate {
	display: flex;
	hyphens: auto;
	::-webkit-scrollbar-thumb {
		background-color: none;
	}
	::-webkit-scrollbar {
		-webkit-appearance: none;
		display: none;
	}
	.scroll {
		border: 1px solid #000;
		font-size: 4.5vw;
		overflow-y: scroll;
	}
}



::-webkit-scrollbar {
	width: 2vw;
}
  
/* Track */
::-webkit-scrollbar-track {
	// background: #f1f1f1; 
	border-left: .15vw solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black; 
	height: 180px;
}
