@import './shared.scss';

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-style: italic;
  font-size: 3.4vw;
  line-height: 1.25;
}

#intro-text, #message-container {
  width: 85vw;
  height: calc(100vh - 15vw);

  background: none;
  border-color: inherit;
}

#chat-form {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;

  textarea {
    font-family: 'Favorit Mono', monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 6.2vw;

    width: 100%;
    height: 100%;
    padding: 7.5vw;

    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.3);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3);
  }

  input {
    position: absolute;
    bottom: 0;
    right: 2vw;
    font-size: 10vw;
    
    color: black;

    border: none !important;
    background: none !important;
    outline: none !important;
    -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    -o-tap-highlight-color:transparent;
    tap-highlight-color:transparent;
  }
  input.focused {
    bottom: 0;
  }
  input[type='submit']{
    cursor: pointer;
  }
  input:focus[type='submit'], input:active[type='submit'] {
    color: white;
  }

}

#message-container {
  display: none;

  #chat-viewer {
    height: 100%;
    overflow-y: scroll;
  }
}

#message-container.compact {
  height: calc(50vh - 15vw);
  margin-bottom: 50vh;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#convo1 .window:after {
  top: 0.2em;
  right: 0.5em;
  font-size: 1.5em !important;
}

#hand-indicator {
  width: 23vw;
  position: absolute;
  z-index: 300;
  top: 40vw;
  left: 64vw;
  transform: rotate(-20deg);
  -webkit-animation: blink 1.5s ease-in-out infinite;
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}