@import './shared.scss';

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-style: italic;
  font-size: 3.5vw;
}

#intro-text, #message-container {
  width: 85vw;
  height: calc(100vh - 15vw);

  background: none;
  border-color: inherit;
}

#chat-form {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;

  textarea {
    font-family: 'Favorit Mono', monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5vw;

    width: 100%;
    height: 100%;
    padding: 7.5vw;

    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  input {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    font-size: 10vw;
    
    color: black;

    border: none;
    background: none;
  }
  input.focused {
    bottom: 60vh;
  }

}

#message-container {
  display: none;

  #chat-viewer {
    height: 100%;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}