@import "./shared.scss";

.backgrounds {
  overflow: hidden;
}

.backgrounds div {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

svg {
  display: none;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.popup.extra {
  border: none;
  &:after {
    content: '' !important;
  }

  img {
    height: 100%;
  }
}


.popup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border-width: 4px;
  border-style: solid;
  background: blanchedalmond;
  z-index: 100;
  font-style: italic;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &:after {
    color: black;
  }
  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  &.popup {
    &:after {
      content: '✕';
      position: absolute;
      top: 0.85em;
      right: 1em;
      font-size: 2em;
    }
  }
  
  .extra.window:after {
    content: '';
  }  


  p {
    position: inherit;
    width: 100%;

    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    text-align: center;

    &.solo {
      position: relative;
      padding: 0 1em;

      font-size: 3em;
      text-transform: none;
      text-align: left;
    }
  }
}

.main {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  display: none;
}

#textBg {
  font-size: 6vw;
  width: 200vw;
  height: 100vh;
  position: absolute;
  // left: -4vw;
  left: 2vw;
  top: -42vh;
  font-style: italic;
  text-transform: capitalize;
  mix-blend-mode: overlay;
  line-height: 1.1;
  opacity: 0.15;
  font-weight: 500;
}

#textBg-holder {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#test-width {
  font-size: 6vw;
}