@import "./shared.scss";

.backgrounds {
  overflow: hidden;
}

.backgrounds div {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

svg {
  display: none;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.popup.extra {
  border: none;
  &:after {
    content: '' !important;
  }
}

.extra img {
  max-height: 18vh;
  max-width: 22vh;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border-width: 3px;
  border-style: solid;
  background: blanchedalmond;
  z-index: 100;
  font-style: italic;

  &:after {
    color: black;
  }
  img {
    display: block;
    max-height: 50vh;

    &.popup {
      max-height: 30vh;
    }
  }
  &.popup {
    &:after {
      content: '✕';
      position: absolute;
      top: 0.85em;
      right: 1em;
      font-size: 2.5em;
    }
  }
  
  .extra.window:after {
    content: '';
  }  


  p {
    position: absolute;
    top: 35%;
    left: 0;

    width: 100%;

    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    text-align: center;

    &.solo {
      position: relative;
      max-width: 30vw;
      padding: 1em;

      font-size: 3em;
      text-transform: none;
      text-align: left;
    }
  }
}

.main {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

svg {
  display: none;
}
