@import './shared.scss';

body {
  background: black;
}

section {
  // position: absolute;
  // top: 225px;
  // left: 72px;
  // overflow: hidden;
}


iframe {
  border: none;
  outline: none;
  overflow: hidden;
  float: left;
}

// #passive-iframe {
//   width: 1766px;
//   height: 520px;
// }

// #reflection-section iframe {
//   width: 883px;
//   height: 520px;
// }

#passive-iframe {
  width: 100vw;
  height: 100vh;
}

#reflection-section iframe {
  width: 100vw;
  height: 100vh;
}


// #reflection2-iframe {
//   width: 1000px;
// }