@import './shared.scss';

section {
  position: absolute;
  top: 240px;
  left: 80px;
}


iframe {
  border: none;
  outline: none;
  overflow: hidden;
  float: left;
}

#passive-iframe {
  width: 1760px;
  height: 500px;
}

#reflection-section iframe {
  width: 880px;
  height: 500px;
}


// #reflection2-iframe {
//   width: 1000px;
// }

