@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit Mono';
  src: url('/static/fonts/ABCFavoritMono-BoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}