@import './fonts.scss';

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Favorit Mono', monospace;
  background: aliceblue;
  margin: 0; 
}

.bg {
  filter: blur(10px);
  /* The image used */  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/5009285/original_815c93068f89c6ec1ed8e0f46e152437.jpg?1568300985?bc=0");


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

#debug {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  z-index: 1000;

  background: lime;
  text-align: right;
}

#loading {
  position: fixed;
  top: 0;   
  left: 0;
  z-index: 100;


  backdrop-filter: blur(5px);

  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  &.show {
    display: flex;
  } 
   
  h1 {
    color: white;
    font-size: 6vmax;
    line-height: 0.8;
    text-transform: capitalize;
    font-style: italic;
  }

  #loading-title:after {
    content: '\00A0\00A0\00A0';
    animation: showDots 1s linear infinite;
  }

  @keyframes showDots {
    0% {
      content: '\00A0\00A0\00A0';
    }
    33% {
      content: '.\00A0\00A0';
    }
    66% {
      content: '..\00A0';
    }
    100% {
      content: '...';
    }
  }
}

// This class is useful as a base for the 'window' look we use a lot
.window {
  position: relative;
  
  background: white;
  border: 0.2vw solid black;
  padding: 2em;

  &:after {
    content: '✕';
    position: absolute;
    top: 0.85em;
    right: 1em;
    font-style: normal;
  }
}