<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.TCR.plist</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/node</string>
            <string>server.js</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/lmccart/Documents/the-changing-room/</string>
        <key>StandardOutPath</key>
        <string>/Users/lmccart/Documents/the-changing-room/logs/stout.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/lmccart/Documents/the-changing-room/logs/sterr.log</string>
    </dict>
</plist>