<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>screen.TCR.plist</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/python3</string>
            <string>multibrowse.py</string>
            <string>http://localhost:3000/00-intro</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/lmccart/Documents/the-changing-room/install/multibrowse-source/</string>
        <key>StandardOutPath</key>
        <string>/Users/lmccart/Documents/the-changing-room/logs/stout.screen.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/lmccart/Documents/the-changing-room/logs/sterr.screen.log</string>
    </dict>
</plist>